      <div id="tablaDatos">
        <div style="text-align:right"><%= link_to ('Volver',{:action=>'back'},{:class=>"entexto"})%></div>
        <div style="text-align:right"><%= link_to ('Volver',{:action=>'back'},{:class=>"entexto"})%></div>
     </div>
