<div class="Title24Orange" id="titlearea">Crea tu cuenta <%= APP_NAME %></div>

<div id="highlightarea2">
  <div id="textarea"  class="Text13Grey">
    <%= render :partial => 'signup_form' %>
  </div>
</div>
