<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"> 
 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <title><%= APP_NAME %></title> 
  </head> 
  <body>
    Estimado <%= h(@print_name) %>,
    <br/><br/>Estos son tus datos de acceso a <%= APP_NAME %>:
    <br/><br/>Login: <%= h(@email) %>
    <br/><br/>Nuevo password: <%= @passwd %>
    <br/><br/>El nuevo password puedes cambiarlo en la aplicación.
    <br/><br/><br/>Accede a tu cuenta en <a href='http://<%= h(@domain) %>'>http://<%= h(@domain) %></a>
  </body>  
</html>  
