/*estilos generales*/
body {
	margin-left: 0px;	margin-top: 0px; margin-right: 0px;	margin-bottom: 0px;
	font-family: Arial, Verdana, sans-serif; 
	font-size: 11px; 
	color:#000000;
	}

img.noborder {
    border: 0px;
}

.nombreusuario { font-size: 11px; color:#949494; 	}
.saldo { font-family: Arial, Helvetica, sans-serif; font-size: 20px; color:#949494; font-weight:bold; text-align:right;}
.suma { font-family: Arial, Helvetica, sans-serif; font-size: 20px;	color:#01DE0B; font-weight:bold; text-align:right;}
.resta { font-family: Arial, Helvetica, sans-serif; font-size: 20px; color:#DE010B; font-weight:bold; text-align:right;}
a.botonerasup  { font-size:11px;font-family: Arial, Helvetica, sans-serif; color: #000000; text-decoration: none;}
a.botonerasup:hover { font-family: Arial, Helvetica, sans-serif;  color: #949494; text-decoration: none;}
a.entexto  { font-family: Arial, Helvetica, sans-serif; color: #D5AB02; text-decoration: underline;}
a.entexto:hover { font-family: Arial, Helvetica, sans-serif;  color: #007FEA; text-decoration: underline;}
a.big  { font-family: Arial, Helvetica, sans-serif; color: #DD3F0D; text-decoration: none; font-size:18px;}
a.big:hover { font-family: Arial, Helvetica, sans-serif;  color: #000000; text-decoration: none; font-size:18px;}


a.cloud_1  { font-family: Arial, Helvetica, sans-serif; color: #D7AA00; text-decoration: none; font-size:12px;}
a.cloud_1:hover { font-family: Arial, Helvetica, sans-serif;  color: #000000; text-decoration: none; font-size:12px;}
a.cloud_2  { font-family: Arial, Helvetica, sans-serif; color: #D7AA00; text-decoration: none; font-size:14px;}
a.cloud_2:hover { font-family: Arial, Helvetica, sans-serif;  color: #000000; text-decoration: none; font-size:14px;}
a.cloud_3  { font-family: Arial, Helvetica, sans-serif; color: #D7AA00; text-decoration: none; font-size:17px;}
a.cloud_3:hover { font-family: Arial, Helvetica, sans-serif;  color: #000000; text-decoration: none; font-size:17px;}
a.cloud_4  { font-family: Arial, Helvetica, sans-serif; color: #D7AA00; text-decoration: none; font-size:20px;}
a.cloud_4:hover { font-family: Arial, Helvetica, sans-serif;  color: #000000; text-decoration: none; font-size:20px;}
a.cloud_5  { font-family: Arial, Helvetica, sans-serif; color: #D7AA00; text-decoration: none; font-size:24px;}
a.cloud_5:hover { font-family: Arial, Helvetica, sans-serif;  color: #000000; text-decoration: none; font-size:24px;}
a.cloud_6  { font-family: Arial, Helvetica, sans-serif; color: #D7AA00; text-decoration: none; font-size:28px;}
a.cloud_6:hover { font-family: Arial, Helvetica, sans-serif;  color: #000000; text-decoration: none; font-size:28px;}
a.cloud_7  { font-family: Arial, Helvetica, sans-serif; color: #D7AA00; text-decoration: none; font-size:30px;}
a.cloud_7:hover { font-family: Arial, Helvetica, sans-serif;  color: #000000; text-decoration: none; font-size:30px;}

a.cloud_4_blue  { font-family: Arial, Helvetica, sans-serif; color: #003798; text-decoration: none; font-size:20px;}
a.cloud_4_blue:hover { font-family: Arial, Helvetica, sans-serif;  color: #D7AA00; text-decoration: none; font-size:20px;}





.titulos_cajas {font-family: Arial, Helvetica, sans-serif;font-weight:normal; font-size:18px; color:#949494;line-height:30px;}
.titulo_principal {font-family: Arial, Helvetica, sans-serif;font-weight:normal; font-size:22px; color:#949494;line-height:40px;}
.titulo_secundario {font-family: Arial, Helvetica, sans-serif;font-weight:normal; font-size:20px; color:#003798;line-height:18px; font-style: italic;}
.error {font-family: Arial, Helvetica, sans-serif;font-weight:normal; font-size:12px; color:#ff0000;line-height:18px; font-weight: bold;}
.errors {font-family: Arial, Helvetica, sans-serif;font-weight:normal; font-size:12px; color:#ff0000;line-height:18px; font-weight: bold;}
hr {color: #DCDCDC;height: 1px;width: 95%;}
.titulo_tercer {font-family: Arial, Helvetica, sans-serif;font-weight:bold; font-size:16px; color:#003798; margin-top:20px;margin-bottom:10px; }
.titulo_tercer a:visited {color:#003798;}

.titulo_sector {font-family: Arial, Helvetica, sans-serif;font-size:12px; color:#003798; margin-top:10px;  background:url("../images/arrow_left.gif") no-repeat;
	background-position: 0px 2px; padding-left:15px;}
.respuesta{width:500px;font-family: Arial, Helvetica, sans-serif;font-size:12px; color:#000000;padding-right:15px; }

.grisb{color: #A2A2A2; font-weight:bold;}
.grisbi{color: #949494; font-weight:bold; font-style: italic;}
.rojobig{color: #ff0000; font-weight:bold;font-size:24px;}
.azulbig16{color: #007FEA; font-weight:bold;font-size:16px;}
.azulbig24{color: #007FEA; font-weight:bold;font-size:24px;}
.derecha{width:100%; text-align:right;}
.testimonial{margin-left:10px;width:90%; font-style:italic;border-bottom:dotted 1px #848384;padding-bottom:10px;padding-top:10px;font-size:12px;}

.footer { 
  height:39px;
	clear:both;	
  font-family:Arial,Helvetica,sans-serif;
  font-size:12px;
  text-align:center;
} 
/*cajas de estructura*/
.contenedor {
	margin: 50px auto 0 auto;
	text-align: center;
	min-width: 750px;
	}

.contenedorbig
	{ 
	width:1004px
		}
/* mensajes info */
.bannerayuda
	{ 	
	background-color:#E6E3D7;
        border-bottom:2px solid #ABACAB;
        border-top:2px solid #ABACAB;
        clear:left;
        margin-bottom:5px;
        margin-right:5px;
        margin-top:5px;
        padding-bottom:10px;
        padding-top:10px;
        text-align:center;
	}
	
.error-message {font-family: Arial, Helvetica, sans-serif;font-weight:normal; font-size:12px; color:#ff0000;line-height:18px; font-weight: bold;}
hr {color: #DCDCDC;height: 1px;width: 95%;}
.bannererror
	{ 
	width:100%;
	clear:left;
	border-top:	2px solid #FFCB00;
	border-bottom:2px solid #FFCB00;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:5px;margin-top:5px;
	 background:url("/images/ico_ayuda.gif") no-repeat top left;
	}
.notice-message {font-family: Arial, Helvetica, sans-serif;font-weight:normal; font-size:12px; color:#949494;line-height:18px; font-weight: bold;}
hr {color: #DCDCDC;height: 1px;width: 95%;}
.bannernotice
	{ 
	width:100%;
	clear:left;
	border-top:	2px solid #FFCB00;
	border-bottom:2px solid #FFCB00;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:5px;margin-top:5px;
	 background:url("/images/ico_ayuda.gif") no-repeat top left;
	}

.contenedorprin
	{ 
	width:790px;
	float:left;
		}
	
.cajalogo { 
	width:150px;
	float:left;}
	 
.cajausuario { 
	width:350px; 
	float:left; 
	padding-top:19px;
	font-size: 11px; 	
	}
	
.cajabotonera { 
	width:290px;
	float:left;
	padding-top:19px;
	text-align:right;
	font-size: 11px; 
	}
	


.contenedorcentro{ 
	width:770px;
	margin-left:20px;
	
}

.centroizquierdohome{
	width:215px;
	float:left;	
}
.centrocentrohome{
	width:530px;
	float:left;	
	padding-right:10px;
	padding-left:10px;
	font-size:15px; font-family: Arial, Helvetica, sans-serif;  
}


.centroizquierdo{
	width:765px;
	float:left;	
	font-size:12px; font-family: Arial, Helvetica, sans-serif;
}

.centroderecho{ 
	width:5px;
	float:left;	
	background:url("../images/sombra.gif") ;
	height:400px;
}

.contenedorcajas{
	margin-left:5px;
	width:192px;
	float:left;	
}


/*estilos para cajas amarillas*/

.box {
    width:192px;
    margin-left:5px; margin-bottom:18px;margin-top:5px;
    background:url("../images/box_192_tile.gif") repeat-y top left;
	float:left;
}
.boxTop { background:url("../images/box_192_top.gif") no-repeat top left;}
.boxInner {background:url("../images/box_192_bottom.gif") no-repeat bottom left;
padding:10px 10px 10px 10px; font-family: Arial, Helvetica, sans-serif; font-size: 12px;  }

.box760 {
    width:760px;
    margin-bottom:5px;margin-top:5px;
    background:url("../images/box_760_tile.gif") repeat-y top left;
	float:left;
}
.boxTop760 { background:url("../images/box_760_top.gif") no-repeat top left;}
.boxInner760 {background:url("../images/box_760_bottom.gif") no-repeat bottom left;
padding:10px 10px 10px 10px;font-family: Arial, Helvetica, sans-serif; font-size: 12px;}

.box ul,
	 {
    margin:0 0 2px 5px;
    padding-left:0px;
    list-style:none;
   }
   
.box li {
	padding-bottom:5px;
   }
   


.box673fill {
    width:673px;
    margin-bottom:5px;margin-top:5px;
    background:url("../images/box_673fill_tile.gif") repeat-y top left;
	clear:left
	
}
.boxTop673fill { background:url("../images/box_673fill_top.gif") no-repeat top left;clear:left}
.boxInner673fill {background:url("../images/box_673fill_bottom.gif") no-repeat bottom left;
padding:5px 15px 5px 15px; clear:left;font-family: Arial, Helvetica, sans-serif; font-size: 12px;}

.box192fill {
    width:192px;
    margin-bottom:5px;margin-top:5px;
    background:url("../images/box_192fill_tile.gif") repeat-y top left;
	
	}
.boxTop192fill { background:url("../images/box_192fill_top.gif") no-repeat top left;clear:left}
.boxInner192fill {background:url("../images/box_192fill_bottom.gif") no-repeat bottom left;
padding:5px 15px 5px 15px; clear:left;font-family: Arial, Helvetica, sans-serif; font-size: 12px;}

.oferta
	{
	margin-top:5px;
    width:167px;
   	text-align:center;
	float:left;
	font-size:12px;
	}





/*estilos para tablas*/
.cabecera{	
font-family: Arial;font-size:12px; color:#000000; font-weight:bold;
background-image: url(../images/bg_cabecera_tabla.gif);
height: 22px;
padding-left:5px
 }
 
.filaimpar, .filaimparfin, .filaimparinicio{	
font-family: Arial;font-size:12px; color:#000000;
height: 25px;
padding-left:5px;
 }
 
.filaimpar{	
border-left:1px solid #C5C5C5;
 }

.filaimparinicio{	
text-align:center;
 }
 
 
.filapar, .filaparfin, .filaparinicio{	
font-family: Arial;font-size:12px; color:#000000;
height: 25px;
padding-left:5px;
background-color: #E6FFFE;
} 
.filapar{	
border-left:1px solid #C5C5C5;
 }

.filaparinicio{	
text-align:center;
 }
  
.paginador{	
font-family: Arial;font-size:11px; color:#000000;
text-align:center;
 }
 
 
 
/*estilos para pesta�as*/
  #pestanas {
    float:left;	
    width:760px;
	padding-left:30px;    
	background:#DAE0D2 url("../images/pest_tile.gif") repeat-x bottom;
   }
	
  #pestanas ul {
    margin:0;
    padding:0;
    list-style:none;
	
	
    }
  #pestanas li {
    float:left;
	background:url("../images/pest_right.gif") no-repeat right top;
    margin:0;
    padding:0;
    }
  #pestanas a {
    display:block;
	background:url("../images/pest_left.gif") no-repeat left top;
    padding:4px 15px;
	font-family: Arial;font-size:11px; color:#000000; font-weight:normal; text-decoration:none;

    }
	
	#pestanas #current {
    background-image:url("../images/pest_right_on.gif");
    }
  #pestanas #current a {
        background-image:url(../images/pest_left_on.gif);
        color:#DD3F0D;
        font-family:Arial;
        font-size:11px;
        font-weight:bold;
        text-decoration:none;
    }
	
/*elementos de listas*/
  #lista {
    margin-top:30px;
	margin-bottom:20px;
	}
	
  #lista ul {
    margin:0;
    padding:0;
    list-style:none;
	
	
    }
  #lista li {
    background:url("../images/arrow_left.gif") no-repeat;
	background-position: 0px 2px;
    margin:0;
    padding-left:15px;padding-bottom:10px;
    }


/*formularios*/

.form180 {font-family: Arial, Helvetica, sans-serif;font-weight:normal; font-size:11px; color:#000000;border: 1px solid #D7D7D7; width:180px;}
.form400 {font-family: Arial, Helvetica, sans-serif;font-weight:normal; font-size:11px; color:#000000;border: 1px solid #D7D7D7; width:400px;}
.form100 {font-family: Arial, Helvetica, sans-serif;font-weight:normal; font-size:11px; color:#000000;border: 1px solid #D7D7D7; width:100px;}
.form40 {font-family: Arial, Helvetica, sans-serif;font-weight:normal; font-size:11px; color:#000000;border: 1px solid #D7D7D7; width:40px;}
.form70 {font-family: Arial, Helvetica, sans-serif;font-weight:normal; font-size:11px; color:#000000;border: 1px solid #D7D7D7; width:70px;}
.formhead {font-size:11px;font-weight:bold;}
.obligatorio {font-family: Arial, Helvetica, sans-serif;font-weight:normal; font-size:12px; color:#007FEA;}
.bloque
	{
   width:650px;
   line-height:20px;
   margin-top:15px;
    }


.seccion
{
    background:url("../images/arrow.gif") no-repeat;
	background-position: 0px 5px;
    margin:0;
	padding-left:15px;
	margin-bottom:5px;
	border-bottom:1px solid #C0C0C0;
	font-weight:bold;
	clear:left;
    }

.cierre
{
  
	border-top:1px solid #C0C0C0;
	font-weight:bold;
	text-align:right;
    }
.caja215
{ 
	width:215px;
	float:left;
	padding-bottom:5px;
	z-index:0;
}
.caja215_clearleft
{ 
	width:215px;
	float:left;
	clear:left;
	padding-bottom:5px;
	z-index:0;
}
.caja110
{ 
	width:110px;
	float:left;
	padding-bottom:5px;
	z-index:0;
}
.caja320
{ 
	width:320px;
	float:left;
	padding-bottom:5px;
	z-index:0;
}


.boxOrange192 {
    width:192px;
    margin-bottom:5px;margin-top:5px;
    background:url("/images/box_orange_192_tile.gif") repeat-y top left;
	
	}
.boxOrangeTop192 { background:url("/images/box_orange_192_top.gif") no-repeat top left;clear:left}
.boxOrangeInner192 {background:url("/images/box_orange_192_bottom.gif") no-repeat bottom left;
  padding:0px 0px 0px 0px; clear:left;font-family: Arial, Helvetica, sans-serif; 
  font-size: 12px;font-weight:bold;text-align:center;color:white;}

.oferta192
	{
	margin-top:5px;
  width:192px;
  text-align:center;
	float:left;
	font-size:12px;
	}
  
.titulo_principal_orange {font-family: Arial, Helvetica, sans-serif;font-weight:bold; font-size:22px; color:#EA8454;line-height:40px;}  