
Empresa: <%= enterprise.name %>
Subdominio: <%= enterprise.short_name %>
Administrador: <%= enterprise.account_owner.print_name %> - <%= enterprise.account_owner.email %>
Alta: <%= enterprise.created_at%>
Última actualización: <%= enterprise.updated_at %>

- - - - - - - - - - - - - - - - - - - - - - - - - - - 