  <div id="topLinks">
    <span class="titulos_cajas">¿sabes que puedes?</span><br/>
    <br/>	
    <strong>Elegir</strong> con gran flexiblidad si deseas exportar los gastos, los pagos, todos, por fecha, combinado cualquiera de las posibilidades.
    <hr>
    S&oacute;lo puedes <strong>seleccionar</strong> un proyecto en el que tengas permisos, olvidandote de informaci&oacute;n inutil que solo sirve para despistarte.
    <hr>
    Puedes <strong>elegir</strong> entre cualquiera de los formatos que te ofrecemos para que tengas tus gestiones de la mejor manera que deseas.
  </div>
  <div id="bottLinks"></div>